@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background: rgb(123, 143, 226);
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #5917fe;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}